{% extends 'base.html' %}
  <!-- Account Content Starts -->
{% block content %}
<body>
  <div class="profile" id="profile">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>niknam</h1>
        </div>
        <div class="col-md-12 text-center">
          <div class="avatar">
            <img src="/static/images/team-img-01.jpg">
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="achivments">
            <h1>Text</h1>
            <p>seva scrie in dansu</p>
            <p>seva scrie in dansu</p>
            <p>seva scrie in dansu</p>
            <p>seva scrie in dansu</p>
            <p>seva scrie in dansu</p>
            <p>seva scrie in dansu</p>
            <p>seva scrie in dansu</p>
          </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="counter-item text-center">
              <div class="personal-info">
                <h1>Seva</h1>
                <p>seva scrie in dansu</p>
                <p>seva scrie in dansu</p>
                <p>seva scrie in dansu</p>
                <p>seva scrie in dansu</p>
                <p>seva scrie in dansu</p>
                <p>seva scrie in dansu</p>
                <p>seva scrie in dansu</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
</html>
{% endblock %}
  <!-- Account Content ends -->