{% extends 'base.html' %}

{% block content %}
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
	<div class="banner" id="banner">
	  <div class="bg-overlay">
	    <div class="container">
	      <div class="row">
	        <div class="col-md-12">
	          <div class="banner-text">
	            <h2>Welcome to <span>CODEX</span></h2>
	            <a href="#" class="banner-button">Learn More</a> 
	        	</div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="features">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-4 col-sm-6 col-xs-12">
	        <div class="feature-box media">
	          <div class="icon-box text-center pull-left media-object"> <i class="icon-bulb"></i> </div>
	          <div class="feature-text media-body">
	            <h4>Lorem Ipsum</h4>
	            <p class="feature-detail">Cras aliquet et mi id fermentum. Suspendisse eget sodales lorem, vestibulum euismod lectus.</p>
	          </div>
	        </div>
	      </div>
	      <div class="col-md-4 col-sm-6 col-xs-12">
	        <div class="feature-box media pull-left">
	          <div class="icon-box text-center pull-left media-object"> <i class="icon-eye"></i> </div>
	          <div class="feature-text media-body">
	            <h4>Lorem Ipsum</h4>
	            <p class="feature-detail">Cras aliquet et mi id fermentum. Suspendisse eget sodales lorem, vestibulum euismod lectus.</p>
	          </div>
	        </div>
	      </div>
	      <div class="col-md-4 col-sm-6 col-xs-12">
	        <div class="feature-box media pull-left">
	          <div class="icon-box text-center pull-left media-object"> <i class="icon-heart"></i> </div>
	          <div class="feature-text media-body">
	            <h4>Lorem Ipsum</h4>
	            <p class="feature-detail">Cras aliquet et mi id fermentum. Suspendisse eget sodales lorem, vestibulum euismod lectus.</p>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="about" id="about">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12 text-center">
	        <h3>About Us</h3>
	      </div>
	      <div class="col-md-6">
	        <div class="about-text">
	          <p>Donec velit ex, faucibus eu mauris in, sodales placerat augue. Phasellus feugiat ex id enim laoreet mattis. Quisque velit quam, pharetra non lorem vel, scelerisque ornare dolor. Etiam id ex justo. Nullam nec ipsum non augue convallis gravida. Praesent mattis placerat sodales. Pellentesque nec egestas neque. </p>
	          <p>Donec velit ex, faucibus eu mauris in, sodales placerat augue. Phasellus feugiat ex id enim laoreet mattis. Quisque velit quam, pharetra non lorem vel, scelerisque ornare dolor. Etiam id ex justo. Nullam nec ipsum non augue convallis gravida. Praesent mattis placerat sodales. Pellentesque nec egestas neque. </p>
	        </div>
	      </div>
	      <div class="col-md-6">
	        <div class="col-md-6 col-sm-6 col-xs-6 block">
	          <div class="counter-item text-center">
	            <h5>Evaluated People</h5>
	            <div class="timer">3</div>
	          </div>
	        </div>
	        
	      </div>
	    </div>
	  </div>
	</div>
	<div class="testimonials" id="testimonials">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12">
	        <div class="text-center">
	          <h3>Our Testimonials</h3>
	        </div>
	      </div>
	      <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
	        <div id="owl-demo" class="owl-carousel owl-theme test">
	          <div class="item">
	            <p><sup><i class="fa fa-quote-left"></i></sup>FirstBlood, atestat - Uncommon.<sup><i class="fa fa-quote-right"></i></sup></p>
	            <div class="test-img"> <img src="../static/images/team-img-01.jpg"/>
	              <p><strong>Platon Bogdan</strong></p>
	            </div>
	          </div>
	          <div class="item">
	            <p><sup><i class="fa fa-quote-left"></i></sup>FreeFarm, atestat - Uncommon.<sup><i class="fa fa-quote-right"></i></sup></p>
	            <div class="test-img"> <img src="../static/images/team-img-01.jpg"/>
	              <p><strong>Bivol Gavril</strong></p>
	            </div>
	          </div>
	          <div class="item">
	            <p><sup><i class="fa fa-quote-left"></i></sup>Roshan, atestat - Common.<sup><i class="fa fa-quote-right"></i></sup></p>
	            <div class="test-img"> <img src="../static/images/team-img-03.jpg"/>
	              <p><strong>Pisarciuc Andrei</strong></p>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="call-to-action">
	  <div class="call-overlay">
	    <div class="container">
	      <div class="row">
	        <div class="col-md-8 col-sm-10">
	          <div class="subscribe-text">
	            <h3>Subscribe For Updates</h3>
	            <p>Join our 1000+ subscribers and get access to the latest information about your CODEX!</p>
	          </div>
	        </div>
	        <div class="col-md-4 text-center"> <a href="#" class="subscribe-button">Subscribe Now</a> </div>
	      </div>
	    </div>
	  </div>
	</div>
	
	{% endblock %}
</body>
</html>