<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Codex</title>
	<link rel="stylesheet" href="C:/Users/User/Desktop/Codex/static/main.css">
</head>

<body>
	<header>
		<div class="container">

			<img src="C:/Users/User/Desktop/Codex/static/images/Logo.png" alt="" class="logo">
				<nav>
					<ul class="menu">
						<li>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">About</a>
						</li>
						<li>
							<a href="#">Sign Up</a>
						</li>
						<li>
							<a href="#">Sign In</a>
						</li>
					</ul>
				</nav>	
		</div>
		
	</header>

	<section>
		<div class="background">

			<div class="square">
		
			</div>

			<div class="container">

				<div class="title">
					Welcome to CODEX
				</div>		

					

			</div>
			<a class="button" href="#">Learn More</a>
		

		</div>
		
	
		
		
	</section>

	<section>
		<div class="container">
			
		</div>
	</section>

	<section>
		<div class="container">
			
		</div>
	</section>

	<section>
		<div class="container">
			
		</div>
	</section>

	<footer>
		<div class="container">
			
		</div>
	</footer>
</body>

</html>


