<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Codex</title>
	<link rel="stylesheet" href="../static/main.css">	

	<header>
		
		<div class="container">

			<img src="../static/images/Logo.png" alt="" class="logo">
				<nav>
					<ul class="menu">
						<li>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">About</a>
						</li>
						<li>
							<a href="#">Sign Up</a>
						</li>
						<li>
							<a href="#">Sign In</a>
						</li>
					</ul>
				</nav>	
		</div>


		
	</header>

	<section>
	
	<div class="background">
		
		<div class="square">

			<div class="title">
					Welcome to CODEX
			</div>

			<a class="button" href="#">Learn More</a>	
		</div>			
	</div>

	
	


	</section>

	<section>
		<div class="container">
			<div class="services clearfix">

				<div class="services__item">
					<h3>Lorem Ipsum</h3>
					<p>
						Cras aliquet et mi id fermentum. 
						Suspendisse eget sodales lorem,
						vestibulum euismod lectus.
					</p>
				</div>

				<div class="services__item">
					<h3>Lorem Ipsum</h3>
					<p>
						Cras aliquet et mi id fermentum. 
						Suspendisse eget sodales lorem,
						vestibulum euismod lectus.
					</p>
				</div>

				<div class="services__item">
					<h3>Lorem Ipsum</h3>
					<p>
						Cras aliquet et mi id fermentum. 
						Suspendisse eget sodales lorem,
						vestibulum euismod lectus.
					</p>
				</div>

			</div>
			
		</div>
	</section>

	<section id="about">
		<div class="container">
			
			<div class="title__menue">
				About Us
				
				
			</div>
			
			<div class="services clearfix">

				<div class="service__about">
				
					<p>
						Donec velit ex, faucibus eu mauris in, sodales placerat augue. Phasellus feugiat
						 ex id enim laoreet mattis. Quisque velit quam, pharetra non lorem vel, 
						scelerisque ornare dolor. Etiam id ex justo. Nullam nec ipsum non augue 
						convallis gravida. Praesent mattis placerat sodales. Pellentesque nec egestas neque. <br><br>

						Donec velit ex, faucibus eu mauris in, sodales placerat augue. Phasellus feugiat
						 ex id enim laoreet mattis. Quisque velit quam, pharetra non lorem vel, 
						scelerisque ornare dolor. Etiam id ex justo. Nullam nec ipsum non augue 
						convallis gravida. Praesent mattis placerat sodales. Pellentesque nec egestas neque.

					</p>

				</div>

				<div class="counter">
					<h3>Evaluated People</h3>
					<p>
						55
					</p>

				</div>	


			</div>


			
		</div>

		


	</section>

	<section>

		<link rel="stylesheet" type="text/css" href="/static/SignIn.css">

		<div class="container">
			



			<div class="login-box">
		        <h1>Sign In</h1>
		        <div class="textbox">
		          <i class="fas fa-user"></i>
		          <input type="text" placeholder="Username">
		        </div>
		      
		        <div class="textbox">
		          <i class="fas fa-lock"></i>
		          <input type="password" placeholder="Password">
		        </div>
		        
		        <input type="checkbox" checked="checked" name="remember" class="checkbox"> Remember me
		        <br>
		        <a href="" class="forgot-password">Forgot password?</a>
		        <input type="button" class="btn" value="Sign in">
		      </label>
		    </div>

		</div>
	</section>

	<footer>
		<div class="container">
			
		</div>
	</footer>

</body>

</html>


