{% extends 'base.html' %} 
 
<body>
    {% block content %}
  <div class="wrapper">
      <div class="content">
        <div class="signUp" id="singUp">
          <form method="POST" action="">
            {{ form.hidden_tag() }}
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <h1>Sign Up</h1>
              </div>
              <div class="col-md-12 text-center">
                <div class="signUp-info">
                  <i class="fas fa-user"></i>
                  {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
              </div>
              <div class="col-md-12 text-center">
                <div class="signUp-info">
                  <i class="fa fa-envelope""></i>
                  {{ form.email.label(class="form-control-label") }}
                  {% if form.email.errors %}
                      {{ form.email(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.email.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.email(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
              </div>
              <div class="col-md-12 text-center">
                <div class="signUp-info">
                  <i class="Example of key fa-key""></i>
                  {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
              </div>
              <div class="col-md-12 text-center">
                <div class="signUp-info">
                  <i class="fas fa-lock"></i>
                  {{ form.confirm_password.label(class="form-control-label") }}
                  {% if form.confirm_password.errors %}
                      {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.confirm_password.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.confirm_password(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
              </div>
              <div class="col-md-12 text-center">
                <div class="confirm-button">
                  <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
                </div>
                <div class="border-top pt-3">
                  <small class="text-muted">
                      Already Have An Account? <a class="ml-2" href="{{ url_for('index') }}">Sign In</a>
                  </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    {% endblock content %}
</body>
