<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/SignIn.css">
    <title>SignIn</title>
</head>
<body>
    <div class="SignIn">
        <h1>Sign in</h1>
        <form class="SignInForm">
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <br>
            <button>Sign In</button>
            <br>
            <a href="#">Lost your password?</a><br>
            <a href="#">Don't you have an account?</a>
        </form>
    </div>
</body>
</html>