<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/signIn.css">
    <title>Sign In</title>
</head>
<header>
  <div class="container">
    <img src="../static/images/Logo.png" alt="" class="logo">
      <nav>
        <ul class="menu">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Sign Up</a>
          </li>
          <li>
            <a href="#">Sign In</a>
          </li>
        </ul>
      </nav>	
  </div>
</header>
<body>
    <div class="login-box">
        <h1>Sign In</h1>
        <div class="textbox">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username">
        </div>
      
        <div class="textbox">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password">
        </div>
        
        <input type="checkbox" checked="checked" name="remember" class="checkbox"> Remember me
        <br>
        <a href="" class="forgot-password">Forgot password?</a>
        <input type="button" class="btn" value="Sign in">
      </label>
      </div>
</body>
</html>