@charset "utf-8";
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

*
{
	padding: 0px;
	margin: 0px;
}

i{
	font-family: fontawesome !important;
}

body 
{
	font-family: 'Work Sans', sans-serif;
	position: relative;
	min-height: 96vh;
}

h1, h2, h3, h4, h5, h6 
{
	font-family: 'Beatrix Antiqua Regular', cursive;
}

a 
{
	outline: none !important;
}


.profile
{
	padding: 150px 0px;
	width: 100%;
	float: left;
}

.avatar img 
{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.46);
    display: inline-block;
}


section {
    background-image: linear-gradient(to right, rgba(127,127,127,0.33) 0%, rgba(127,127,127,0.33) 20%, transparent 20%);
    background-position: 0 bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x;
}


section.experience h2 {
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    color: rgb(115,120,190);
}

section.experience div.exp-bar {
    display: block;
    width: 100%;
    height: 4px;
    background-color: rgb(45,47,77);
}

