@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

*
{
	padding: 0px;
	margin: 0px;
}

.signup
{
	margin-top: 10px;
	padding-top: 150px;
	width: 100%;
	float: left;
}

.login-box h1
{
	font-family: 'Beatrix Antiqua Regular', cursive;
	border-bottom: 2px solid #d2ac2c;
	display: inline-block;
	line-height: 35px;
	margin-bottom: 50px;
}

.login-data
{
	
	border-bottom: 1px solid #d2ac2c;
	display: inline-block;
	line-height: 35px
}

.login-data input
{
	border: none;
	outline: none;  
	font-size: 18px;
	margin: 0 10px;
}

.confirm
{
	
	border: rgba(210, 172, 44, 0.5) 1.4px solid;
	padding: 12px 35px;
	color: #393939;
	text-decoration: none;
	display: inline-block;
	border-radius: 25px 25px 25px 25px;
	margin-top: 30px;
	font-size: 17px;
}


.foot
{
	position: fixed;
    left: 0px;
    bottom: 0px;
    height: 92px;
    width: 100%;
    background: #fff;
}


