@charset "utf-8";

*
{
	padding: 0px;
	margin: 0px;
}

body 
{
	font-family: 'Work Sans', sans-serif;
	
}

h1, h2, h3, h4, h5, h6 
{
	font-family: 'Beatrix Antiqua Regular', cursive;
}

a 
{
	outline: none !important;
}

/*-----Header & Banner Starts-------*/

.navbar-brand
{
	font-family: 'Beatrix Antiqua Regular', cursive;
	color: #fff;
	padding-top: 19px;
	font-size: 26px;
}

.navbar-brand:hover 
{
	color: #d2ac2c;
}

.navbar-toggle 
{
	background-color: #fff;
}
.navbar-toggle .icon-bar 
{
	background-color: rgba(0, 0, 0, 0.48);
}

.banner 
{
	background-attachment: fixed;
	background-color: rgba(46, 46, 46, 0.43);
	background-image: url(images/Background_1.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	cursor: default;
	text-align: center;
	padding-top: 50px;
	width: 100%;
	float: left;
}

.bg-overlay 
{
	padding: 280px 0 220px;
	background-color: rgba(46, 46, 46, 0.6);
}

.banner-text h2 
{
	font-size: 60px;
}

.banner-text h2 span 
{
	color: #d2ac2c;
}

.banner-text p 
{
	font-size: 15px;
}

.banner-button 
{
	border: rgba(255, 255, 255, 0.3) 1px solid;
	padding: 12px 35px;
	color: #ccc;
	text-decoration: none;
	display: inline-block;
	border-radius: 25px 25px 25px 25px;
	font-size: 17px;
	margin-top: 50px;
}

.banner-button:hover 
{
	background-color: #ccc;
	text-decoration: none;
	color: #000;
}

.mynav 
{
	background: #464646 none repeat scroll 0% 0%;
}

.mynav li a 
{
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.nav > li > a:focus, .nav > li > a 
{
	color: #E1DBDB;
}
.nav > li > a:focus, .nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a 
{
	background-color: #616161;
	color: #fff;
	border-bottom: 2px solid #a67c52;
}
.navbar-nav > li > a 
{
	padding-top: 15px;
	padding-bottom: 13px;
}
/*-----Header & Banner Ends-------*/

/*-----Features Starts-------*/
.features 
{
	padding: 100px 0px;
	float: left;
	width: 100%;
}

.icon-box 
{
	position: relative;
	width: 70px;
	height: 70px;
	margin: 0px;
	display: inline-box;
	border: rgba(204, 204, 204, 0.18) 1px solid;
	border-radius: 50%;
	padding: 0px !important;
}

.icon-box i 
{
	line-height: 70px;
	font-size: 25px;
	color: #d2ac2c;
}

.feature-text 
{
	padding-left: 20px;
}

.feature-text h4 
{
	color: rgb(68, 51, 68);
}

/*-----Features Ends-------*/

/*-----About Starts-------*/
.about 
{
	padding: 50px 0px;
	width: 100%;
	float: left;
}

.about h3 
{
	margin-top: 0px;
	margin-bottom: 50px;
	border-bottom: 2px solid #d2ac2c;
	display: inline-block;
	line-height: 35px;
}

.about-text p 
{
	font-size: 16px;
	font-weight: 300;
}

.counter-item h5 
{

	margin: 0px !important;
	font-family: 'Work Sans', sans-serif;
}

.timer 
{
	color: #d2ac2c;
	font-size: 60px;
	font-weight: 200;
}

.block 
{
	padding-left: 0px !important;
}
/*-----About Ends-------*/


/*-----Testimonials Starts-------*/
.testimonials 
{
	padding: 50px 0px;
	width: 100%;
	float: left;
}

.testimonials h3 
{
	margin-top: 0px;
	margin-bottom: 50px;
	border-bottom: 2px solid #d2ac2c;
	display: inline-block;
	line-height: 35px;
}

.test 
{
	background-color: rgba(235, 213, 235, 0.26);
	padding: 20px 20px 10px;
	border-radius: 10px;
}

.test p 
{
	font-size: 15px;
	font-weight: 300;
}

.test i 
{
	padding: 0px 8px;
}

.test-img 
{
	margin-top: 30px;
}
.test-img img 
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid rgba(68, 51, 68, 0.46);
	display: inline-block;
}
.test-img p 
{
	display: inline-block;
	font-size: 15px;
	padding-left: 10px;
}

.owl-theme .owl-controls .owl-page span 
{
	background-color: #d2ac2c !important;
}

/*-----Testimonials Ends-------*/

/*-----Call to action Starts-------*/
.call-to-action 
{
	background-attachment: fixed;
	background-color: #645862;
	background-image: url(images/Background_2.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: auto;
	color: white;
	cursor: default;
	text-align: center;
	width: 100%;
	float: left;
}
.call-overlay 
{
	padding: 50px 0px;
	background-color: rgba(46, 46, 46, 0.6);
}
.subscribe-text 
{
	text-align: left;
}
.subscribe-text h3 
{
	margin-top: 0px;
	margin-bottom: 20px;
	border-bottom: 2px solid #a67c52;
	display: inline-block;
	line-height: 35px;
	text-align: left;
}
.subscribe-button 
{
	padding: 12px 35px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	border-radius: 25px 25px 25px 25px;
	font-size: 15px;
	background-color: rgba(166, 124, 82, 0.5);
	margin-top: 30px;
}
.subscribe-button:hover 
{
	text-decoration: none;
	color: #fff;
}
/*-----Call to action Ends-------*/

/*-----Contact Starts-------*/

footer 
{
	padding: 25px 0;
	text-align: center;
	width: 100%;
	float: left;
}

footer span.copyright 
{
	line-height: 40px;
	text-transform: none;
}

footer ul.quicklinks 
{
	margin-bottom: 0px;
}

footer ul.quicklinks a 
{
	color: #EB233C;
	line-height: 40px;
	text-decoration: none;
}

ul.social-buttons 
{
	margin-bottom: 0;
}

ul.social-buttons li a 
{
	background-color: #222;
	border-radius: 100%;
	color: #fff;
	display: block;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	outline: 0 none;
	transition: all 0.3s ease 0s;
	width: 40px;
}

ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active 
{
	background-color: #a67c52;
}

.btn:focus, .btn:active, .btn.active, .btn:active:focus 
{
	outline: 0 none;
}
/*-----Contact Ends-------*/
